---
import Sectionhead from "@components/sectionhead.astro";
import HistoryChart from "@components/crux/crux-history-chart/index";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cruxHistoryOtherSitesData from '@assets/sample-data/other-sites.json';
import pageData from '@assets/data/all-page-urls.json'
import cadData from '@assets/data/car-and-driver-urls.json'
import cruxHistorySitesData from '@assets/data/sites.json'
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";
import inpData0 from '@assets/data/worst-inp-urls.json'
import inpData1 from '@assets/data/worst-inp-urls1.json'
import inpData2 from '@assets/data/worst-inp-urls2.json'

let result;
if (Array.isArray(inpData0) && Array.isArray(inpData1) && Array.isArray(inpData2)) {
 result = pageData.concat(inpData0).concat(inpData1).concat(inpData2);
  // Use result
} else {
  console.error('inpData0, inpData1, and inpData2 must be arrays');
}
//let inpData = inpData0.concat(inpData1).concat(inpData2);

const pageHistoryData = getValidCruxData({data: result, cruxType: 'url', summaryOnly: false}); 
const siteData= getValidCruxData({data: cruxHistorySitesData, cruxType: 'origin', summaryOnly: false});
const otherSiteData=getValidCruxData({data: cruxHistoryOtherSitesData, cruxType: 'origin', summaryOnly: false});
const cadHistoryData = getValidCruxData({data:cadData, cruxType: 'url', summaryOnly: false});

let availableDomains : string[]= [];

pageHistoryData.map((d) => {
  try {
  const url = new URL(d.URL);
  const hostName = url.hostname;
  if (hostName && !availableDomains.includes(hostName)) {
    availableDomains.push(url.hostname);
  }

  } catch(e) {
    console.log(d)
  }
  return ''
});

---

<Layout title="Crux History Trend">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux History Trend</Fragment>
      <Fragment slot="desc">Trend chart for selected urls</Fragment>
    </Sectionhead>
    <div class="flex flex-col max-w-4xl mt-8">
      <HistoryChart client:only data={pageHistoryData} siteData={siteData} otherSiteData={otherSiteData} cadHistoryData={cadHistoryData} availableDomains={availableDomains} />
    </div>
  </Container>  
</Layout>
