---
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cruxHistoryOtherSitesData from "@assets/sample-data/other-sites.json";
import CruxSummaryData from "@components/crux/data-table/index";
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";
import pageData from '@assets/data/all-page-urls.json'
import cruxHistorySitesData from '@assets/data/sites.json'
import cadData from '@assets/data/car-and-driver-urls.json'
// import inpData0 from '@assets/data/worst-inp-urls.json'
// import inpData1 from '@assets/data/worst-inp-urls1.json'
// import inpData2 from '@assets/data/worst-inp-urls2.json'

const otherSiteData= getValidCruxData({data: cruxHistoryOtherSitesData, cruxType: 'origin'});
const siteData= getValidCruxData({data: cruxHistorySitesData,  cruxType: 'origin'});

//let inpData = inpData0.concat(inpData1).concat(inpData2);
const cadHistoryData = getValidCruxData({data: cadData, cruxType: 'url'});
const pageHistoryData = getValidCruxData({data: pageData, cruxType: 'url'}); 

//console.log(pageHistoryData.length)
---

<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux Data</Fragment>
      <Fragment slot="desc">Core Web Vitasl as in <a class='text-blue-600' href="https://developer.chrome.com/docs/crux/history-api/">Crux History Api</a></Fragment>
    </Sectionhead>
    <div class="flex flex-col p-4">
       <CruxSummaryData pageData={pageHistoryData} siteData={siteData} otherSiteData={otherSiteData} cadHistoryData={cadHistoryData} client:load /> 
    </div>  
  </Container>  
</Layout>

