---
import Sectionhead from "@components/sectionhead.astro";
import HistoryChart from "@components/crux/crux-history-chart/index";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cruxHistoryOtherSitesData from '@assets/sample-data/other-sites.json';
import pageData from '@assets/data/all-page-urls.json'
import cadData from '@assets/data/car-and-driver-urls.json'
import cruxHistorySitesData from '@assets/data/sites.json'
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";

const pageHistoryData = getValidCruxData({data: pageData, cruxType: 'url', summaryOnly: false}); 
const siteData= getValidCruxData({data: cruxHistorySitesData, cruxType: 'origin', summaryOnly: false});
const otherSiteData=getValidCruxData({data: cruxHistoryOtherSitesData, cruxType: 'origin', summaryOnly: false});
const cadHistoryData = getValidCruxData({data:cadData, cruxType: 'url', summaryOnly: false});

---

<Layout title="Crux History Trend">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux History Trend</Fragment>
      <Fragment slot="desc">Trend chart for selected urls</Fragment>
    </Sectionhead>
    <div class="flex flex-col max-w-4xl mt-8">
      <HistoryChart client:only data={pageHistoryData} siteData={siteData} otherSiteData={otherSiteData} cadHistoryData={cadHistoryData} />
    </div>
  </Container>  
</Layout>
