---
import Sectionhead from "@components/sectionhead.astro";
import LoAFTable from "@components/loaf/index.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import loafData from '@assets/sample-data/loaf.json';

// Pagination settings
const pageSize = 10; // Number of items per page
const { searchParams } = new URL(Astro.request.url);
const pageIndex = parseInt(searchParams.get('page') || '1', 10); // Current page number
const sortBy = searchParams.get('sortBy') || 'page'; // Sort order
const sortDirection = searchParams.get('sortDirection') || 'asc'; // Sort direction

console.log("Search Params:", searchParams.toString()); // Debug: Log the search parameters
console.log("Page Index:", pageIndex); // Debug: Log the parsed page index
// Calculate pagination
const startIndex = (pageIndex - 1) * pageSize;
const endIndex = startIndex + pageSize;

const stringField = ['page', 'geo_country', 'device_category'];
const dateField = ['event_timestamp'];
// Assuming sort variable holds the field name by which you want to sort
const sortedData = loafData.sort((a: any, b: any) => {
  if (stringField.includes(sortBy)) {
    return a[sortBy].localeCompare(b[sortBy]);
  } else if (dateField.includes(sortBy)) {
    // Convert strings to Date objects for comparison
    const dateA: any = new Date(a[sortBy]);
    const dateB: any = new Date(b[sortBy]);
    return dateA - dateB; // This works because date subtraction returns the difference in milliseconds
  } else {
    const numberA = parseInt(a[sortBy], 10);
    const numberB = parseInt(b[sortBy], 10);
    console.log("Number A:", numberA);
    // Fallback for numeric and other sortable fields
    if ( numberA < numberB) return -1;
    if ( numberA > numberB) return 1;
    return 0;
  }
});

const totalPages = Math.ceil(loafData.length / pageSize);
// Slice the data for pagination
const paginatedData = sortedData.slice(startIndex, endIndex);
// Map over the paginated data to return only the necessary fields
const finalData = paginatedData.map(({page, entries, cwvScore, geo_country, device_category, event_timestamp}) => ({
  page, entries, cwvScore, geo_country, device_category, event_timestamp
}));

const maxPagesToShow = 10; // Maximum number of pages to display in the pagination

let startPage = Math.max(1, pageIndex - Math.floor(maxPagesToShow / 2));
let endPage = Math.min(totalPages, startPage + maxPagesToShow - 1);

// Adjust startPage if we're near the end of totalPages and can't show maxPagesToShow
startPage = Math.max(1, endPage - maxPagesToShow + 1);

const columns = [
  { label: 'URL', key: 'page' },
  { label: 'Total Entries', key: 'entries' },
  { label: 'Score', key: 'cwvScore' },
  { label: 'Country', key: 'geo_country' },
  { label: 'Device', key: 'device_category' },
  { label: 'Date', key: 'event_timestamp' }];

---


<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">LoAF</Fragment>
      <Fragment slot="desc">LoAF INP Data for selected urls</Fragment>
    </Sectionhead>
   
    <div class="flex flex-col max-w-4xl mt-8">
      <LoAFTable data={finalData} columns={columns} sortBy={sortBy} sortDirection={sortDirection} />
      <div class="pagination flex justify-center space-x-2 my-4">
       {pageIndex > 1 && <a href={`?page=${pageIndex - 1}`} class="prev">Previous</a>}
       {Array.from({ length: endPage - startPage + 1 }, (_, i) => startPage + i).map((pageNum) => (
          <a href={`?page=${pageNum}`} class={`page-number ${pageIndex === pageNum ? 'active' : ''}`} aria-current={pageIndex === pageNum ? 'page' : undefined}>
            {pageNum}
          </a>
       ))}
      
      {totalPages > maxPagesToShow && endPage < totalPages && <span class="ellipsis">...</span>}
      {pageIndex < totalPages && <a href={`?page=${pageIndex + 1}`} class="next">Next</a>}
      </div>
    </div>
  </Container>  
</Layout>
